<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- {%load static from staticfiles%} -->
  {%load staticfiles%}
  <link rel="stylesheet" href="{% static 'bootstrap4/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'sp2style.css'%}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script type="text/javascript" src="{%static 'ajax.js'%}"></script>
  <script type="text/javascript" src="{%static 'bootstrap4/bootstrap.bundle.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'bootstrap4/bootstrap.min.js'%}"></script>
  <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <row>
      <div class="col-md-4">
        {%block formdesign%}

        {%endblock%}
      </div>
      <div class="col-md-4">
        {%block datashow%}

        {%endblock%}
      </div>
      <div class="col-md-4"></div>
    </row>


</body>
</html>
